<div class="p-0 tf-nc tool-slot-occupied border border-2 border-secondary">
    <div class="h-100 w-100 card text-center">
        <div class="card-header">
            <%= tool_data[:name] %>
            <span class="float-end">X</span>
        </div>
        <div class="card-body row h-100">
            <div class="col-10">
                <h5 class="my-0 card-title"><%= tool_data[:title] %></h5>
                <p class="card-text">blablabla</p>
            </div>
            <div class="col-2">
                <i class="handle fas fa-bars"></i>
            </div>
        </div>
    </div>
</div>