<div class="card h-100">
    <div class="card-header">
        Experiment
    </div>
    <div class="card-body">
        <h4><%= @experiment.title %></h4>
        <button type="button"
                class="btn btn-success d-flex align-items-center justify-content-between"
                data-action="click->experiment#run_experiment"
                disabled >
            <i class="fas fa-play me-2"></i>Run experiment
        </button>
    </div>
</div>