<div class="menu-slot">
    <div class="tool" data-tool="<%= tool_data.to_json %>">
        <div class="my-2 card text-center">
            <div class="card-body row h-100">
                <div class="col-10">
                    <h5 class="my-0 card-title"><%= tool_data[:name] %></h5>
                </div>
                <div class="col-2">
                    <i class="handle fas fa-bars"></i>
                </div>
            </div>
        </div>
    </div>
</div>