<% set_page_title "Experiments" %>

<div class="row">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Utilities
            </div>
            <div class="card-body">
                <button class="btn btn-primary" type="button">Create a new experiment</button>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                Experiments
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <% current_user.experiments.each do |experiment| %>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <%= experiment.id %>
                            <a href="/experiment/<%= experiment.id %>">Access experiment</a>
                            <span class="badge bg-primary rounded-pill">1</span>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>