<% if current_user.id == @experiment.user_id %>
    <% tools = JSON.parse(@tools_description) %>
    <div id="experiment-container" class="h-100"
         data-controller="experiment"
         data-experiment-experiment-id-value="<%= @experiment.id %>">
        <div class="row h-100">
            <div class="col-3">
                <div id="experiment_menu" class="h-25">
                    <%= render partial: "experiment/experiment_menu" %>
                </div>
                <div id="tools_menu" class="h-75 dnd-zone">
                    <%= render partial: "experiment/tools_menu", locals: {tools: tools} %>
                </div>
            </div>
            <div class="h-100 col-9">
                <div id="experiment_area" class="h-100 border border-3 border-primary">
                    <%= render partial: 'experiment/tree', locals: {experiment: @experiment} %>
                </div>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" id="params_offcanvas"></div>
    </div>
<% else %>
    "Prohibited"
<% end %>