<div class="card">
    <div class="card-header">
        Datasets
    </div>
    <div class="card-body">
        <ul class="list-group">
            <% current_user.datasets.each do |dataset| %>
                <li class="list-group-item d-flex justify-content-evenly align-items-center">
                    <div class="w-50 d-flex align-items-center justify-content-center">
                        <a href="/dataset/<%= dataset.id %>"><%= dataset.title %></a>
                    </div>
                    <div class="w-50 d-flex align-items-center justify-content-center">
                            <span class="badge bg-primary rounded-pill"><%= dataset.nb_issues %> issues</span>
                            <span class="badge bg-primary rounded-pill"><%= dataset.nb_articles %> articles</span>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>