<div class="modal fade" id="renameDatasetModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rename dataset</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <label for="dataset-title" class="form-label">Give a new name to your dataset:</label>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Dataset title</span>
                    <input type="text" class="form-control" id="rename-dataset-title" autocomplete="off">
                </div>
                <div id="dataset-id" class="d-none"></div>
                <span id="rename-log"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="rename-dataset-button" type="button" class="btn btn-primary" data-action="click->datasets#renameDataset">Rename</button>
            </div>
        </div>
    </div>
</div>