<% set_page_title "Datasets" %>

<div class="row" data-controller="datasets">
    <div class="col-3">
        <div class="card">
            <div class="card-header">
                Utilities
            </div>
            <div class="card-body d-flex align-items-center justify-content-between">
                <button class="btn btn-primary" type="button"  data-bs-toggle="modal" data-bs-target="#createDatasetModal">
                    Create a new dataset
                </button>
                <button class="btn btn-primary" type="button"  data-bs-toggle="modal" data-bs-target="#publicDatasetsModal">
                    Public datasets
                </button>
            </div>
            <%= render partial: "create_dataset_modal" %>
            <%= render partial: "public_datasets_modal" %>
        </div>
    </div>
    <div class="col-9">
        <div id="datasets_list">
            <%= render partial: "datasets_list" %>
        </div>
        <div id="compounds_list">
            <%= render partial: "compounds_articles" %>
        </div>
    </div>
</div>