<% if current_user.id == @dataset.user_id %>
    <% set_page_title @dataset.title %>
    <div class="row"
         data-controller="dataset"
         data-dataset-id-value="<%= @dataset.id %>">
        <div id="sidebar" class="col-3">
            <%= render partial: 'dataset_info' %>
            <%= render partial: 'catalog/named_entities_panel' %>
        </div>
        <div class="col-9">
            <%= render partial: 'dataset_header' %>
            <div id="documents-list" class="d-flex justify-content-center">
                <div class="spinner-border"></div>
            </div>
        </div>
    </div>
<% else %>
    <% set_page_title "Forbidden" %>
    <p>Access forbidden.</p>
<% end %>

