<div class="offcanvas-header">
    <h5 class="offcanvas-title"><%= t("newspapers.tools.type.#{tool.tool_type}") %></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
<div class="offcanvas-body">
    <pre><%= JSON.pretty_generate(@tool.results) %></pre>
</div>