<% all_constraints = search_constraints %>
<div class="accordion" id="facets">
    <% @results['facet_counts']['facet_fields'].each do |k,v| %>
        <% unless v.empty? %>
            <%= render partial: "facet", locals: {field: k, entries: v, all_constraints: all_constraints } %>
        <% end %>
    <% end %>
</div>