<div id="named-entities-panel" class="card">
    <div class="card-header">
        Named entities
    </div>
    <div class="p-0 card-body d-flex align-items-center justify-content-center flex-column">
        <div class="spinner-border"></div>
    </div>
</div>
