<%# per_page, total and current_page are partial local variables %>
<% nb_pages = (total/per_page.to_f).ceil %>
<nav>
    <ul class="pagination pagination-sm justify-content-center">
        <% if current_page == 1 %>
            <li data-facets-target="previousButton" class="page-item disabled" data-action="click->facets#previous_page">
                <a class="page-link" href="#">&laquo;</a>
            </li>
        <% else %>
            <li data-facets-target="previousButton" class="page-item" data-action="click->facets#previous_page">
                <a class="page-link" tabindex="-1" href="#">&laquo;</a>
            </li>
        <% end %>
        <% if nb_pages > 10 %>
            <% (1..nb_pages).to_a.each do |i| %>
                <% if i == current_page %>
                    <li data-facets-target="pageButton" class="page-item active" data-action="click->facets#page_button">
                        <a class="page-link" href="#"><%= i %></a>
                    </li>
                <% else %>
                    <li data-facets-target="pageButton" class="page-item" data-action="click->facets#page_button">
                        <a class="page-link" href="#"><%= i %></a>
                    </li>
                <% end %>
            <% end %>
        <% end %>
        <% if current_page == nb_pages %>
            <li data-facets-target="nextButton" class="page-item disabled" data-action="click->facets#next_page">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        <% else %>
            <li data-facets-target="nextButton" class="page-item" data-action="click->facets#next_page">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        <% end %>
    </ul>
</nav>