<% if @results["response"]["docs"].empty? %>
    <p>Nothing was found.</p>
<% else %>
    <div class="list-group list-group-flush">
        <% @resulting_docs.each do |result| %>
            <%= render partial: 'result', locals: {result: result} %>
        <% end %>
    </div>
<% end %>