<div id="search_forms">
    <div id="search_form" class="mb-2">
        <form action="/search" method="get">
            <div class="w-50 input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Search for:</span>
                <input name="q" type="text" class="form-control" value="<%= @solr_params[:q] if @solr_params and @solr_params[:q] %>">
                <input class="btn btn-outline-secondary" type="submit" value="Go"></input>
            </div>
        </form>
    </div>
    <% unless @results %>
        <hr/>
        <div id="advanced_form">

        </div>
    <% end %>
</div>