<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="params_label">Dates Frequencies</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div id="wide_dates_histogram">
                <canvas id="canvas_wide_dates_histogram"></canvas>
            </div>
        </div>
        <div class="modal-footer">
            <div id="dates_histogram_controls">
                <a id="download_histogram"
                   download="dates_histogram.png"
                   href=""
                   class="btn btn-primary">Download image only</a>
                <button id="reset_zoom_histogram" class="btn btn-primary">Reset Zoom</button>
                <div id="hist_type" class="pull-right">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineRadio1" name="hist_type_input" value="year" checked>
                        <label class="form-check-label" for="inlineRadio1">By year</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" id="inlineRadio2" name="hist_type_input" value="month">
                        <label class="form-check-label" for="inlineRadio2">By month/year</label>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>