<% set_page_title "Newspaper Platform" %>

<div data-controller="hello">
    <h1>Test</h1>
    <button data-action="click->hello#greet" class="btn btn-primary">Yeah <i class="far fa-thumbs-up"></i></button>
</div>
