////////////////// Facets //////////////////
#facets .constrained {
  background: lightgreen;
}

li.selected_constraint {
  color: green;
}
////////////////////////////////////////////

////////////////// Show page //////////////////
#openseadragon_view {
  width: auto;
  height: 85vh;
  border-style: solid;
  border-width: 2px;
  background-color: #AAAAAA;
}
///////////////////////////////////////////////